.content-card-item {
  background-color: white;
  text-align: left;
  border-radius: 20px !important;
  margin-bottom: 15px;
}

.content-card-item-header {
  color: rgb(33, 27, 200);
  line-height: 23px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 20px !important;
  margin: 0px;
  padding: 30px 30px 0px 30px;
}

.content-card-item-content {
  padding: 0px 30px 30px 30px;
  margin-top: 38px;
}

.content-card-item-content-image {
  margin: 0px 0px 13px 0px;
}

.content-card-item-content-image-overlay {
  display: flex;
  justify-content: center;
}

.content-card-item-content-image-overlay-child {
  z-index: 2;
  position: absolute;
  width: 25%;
  padding-top: 9.65%;
}

.content-card-item-content-image-thumbnail {
  border-radius: 10px !important;
  width: 100%;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.content-card-item-content-image-description {
  text-align: center;
  color: rgb(81, 81, 84);
  line-height: 16px;
  font-size: 12px;
}
