.SlowGainCalcultor {
    margin-left: 19.5px;
    margin-right: 19.5px;
}

.title {
    margin-top: 32px;
    text-align: left;
    font-size: 28px;
    font-weight: 500;
  }

.list {
    padding-top: 0px !important;
}
  
.list-item {
    padding-left: 0px !important;
    font-size: 19px !important;
    font-weight: 300 !important;
}