.content-bottom {
  background-color: #f5f5f7;
  color: #6e6e73;
  font-size: 12px;
  text-align: left;
  padding: 0 16px;
}

.footnotes-list-item {
  padding: 8px 0px !important;
}

.line {
  margin: 0px 0px;
  border: none;
  background-color: #d2d2d7;
  height: 1px;
}

.app-list {
  padding: 0px 0px !important;
}

.app-list-item {
  padding: 10px 0px !important;
}


.footer {
  padding: 17px 0px 19px 0px !important;
}

.footer-shop {
  padding: 0px 0px 8px 0px !important;
  margin-bottom: 7px;
}

.footer-locale {
  padding: 0px 0px !important;
  color: rgb(66, 66, 69);
}

.footer-legal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 0px 0px 0px !important;
}

.footer-legal-first {
  padding: 8px 0px 0px 0px !important;
}

.footer-legal-link {
  padding-right: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgb(210, 210, 215);
  color: rgb(66, 66, 69);
  margin-right: 7px;
  margin-top: 5px;
}

.footer-legal-link-last {
  color: rgb(66, 66, 69);
  margin-top: 5px;
}
